<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta content="text/html; charset=utf-8"/>
		<meta name="author" content="Jon Jia"/>
		<link rel="stylesheet/less" id="page_style" type="text/css" href="css/light.less"/>
		<script href="/js/jquery-1.7.2.min.js" type="text/javascript"></script>
		<script href="/js/less.js" type="text/javascript"></script>
		<script href="/js/mousetrap.js" type="text/javascript"></script>
		<script href="/js/keyboard.js" type="text/javascript"></script>
		<script href="/js/tinybox.js" type="text/javascript"></script>
		<script href="/js/oven.js" type="text/javascript"></script>
	</head>
	<body>
		{{ content }}
	</body>
</html>
